<%= form_with model: @post, local: true, id: "edit-form" do |form| %>
  <div>
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :content, "内容" %>
    <%= form.text_field :content %>
    <p><%= form.file_field :images, multiple: true %></p>
  </div>
  <div>
    <%= form.submit "送信" %>
  </div>
<% end %>
