<div class="form-container">
  <%= form_with model: @post, local: true, id: "edit-form" do |form| %>
    <div class="form-group">
      <%= form.label :title, "タイトル" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div>
      <%= form.label :content, "内容" %>
      <%= form.text_area :content, class: "form-control mb-3" %>
    </div>
    <div>
      <%= form.submit "送信", class: "btn btn-outline-dark mb-5" %>
    </div>
  <% end %>
</div>
<div class="form-container">
  <%= form_with model: @post, local: true, id: "post-form", class: "d-none" do |form| %>
    <div class="form-group">
      <%= form.label :title, "タイトル" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div id="post-dropzone"></div>
    <div>
      <%= form.submit "送信", class: "btn btn-outline-dark mt-3 mb-5", id: "post-btn" %>
    </div>
  <% end %>
</div>
