<div class="post-index my-5">
  <h1>KEY WORD</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <div class="post-keyword">
          <th scope="col" class="w-100 text-left">キーワード</th>
        </div>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each.with_index(1) do |post, i| %>
        <tr>
          <th scope="row"><%= i %></th>
          <td class="text-left"><%= post.title %></td>
          <td class="text-nowrap">
            <%= link_to post, class: "btn btn-light" do %>
              <i class="far fa-file-alt"></i>
            <% end%>
            <%= link_to edit_post_path(post), class: "btn btn-light" do %>
              <i class="far fa-edit"></i>
            <% end %>
            <%= link_to post, class: "btn btn-light", method: :delete, data: { confirm: "削除しますか?" } do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
