<div class="post-index my-5">
  <h1>KEY WORD</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <div class="post-keyword">
          <th scope="col" class="w-100 text-left">キーワード</th>
        </div>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each.with_index(1) do |post, i| %>
        <tr>
          <th scope="row"><%= i %></th>
          <td class="text-left"><%= post.title %></td>
          <td class="text-nowrap">
            <%= link_to "詳細", post %>
            <%= link_to "編集", edit_post_path(post) %>
            <%= link_to "削除", post, method: :delete, data: { confirm: "削除しますか?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
